<section class="about d-flex flex-column justify-content-center">
    <div class="about_container">
        <h2>ABOUT</h2>
        <div class="justify-content-between about_story" >
            <h2>US</h2>
            <div>
                <p>Our story began in 2001 in a small studio in the middle of nowhere. With only one desk and next to no free time, our brand was born. Our passion for unique design and collaboration brought our vision, and products, to life.</p>
                <p>Our products bring together the finest materials and stunning design to create something very special. We believe in quality, care, and creating unique products that everyone can enjoy. Colorful, creative, and inspired by what we see everyday, each product represents what we love about the world we live in. We hope they’ll inspire you too.</p>
                <p>Our unceasing goal is to provide our customers with apparel and clothing that have been "marked by truth" which retails at a fair price, we are about offering the discerning customer a rare combination of well-made, on-trend items with longevity and minimalist design features. We are on a journey to restore desire, to strip back thoughts, and to preserve the past by making it work in the present.</p>
                
            </div>
        </div>
    </div> 
    <img src="../../../assets/vision.jpg" alt="">
</section>
